{% extends 'main/base.html'%}

{% block content%}
{% if request.session.cart|length < 1 %}
<div class="empty-cart-area pb-100px pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-heading">
                    <h2>Your cart item</h2>
                </div>
                <div class="empty-text-contant text-center">
                    <i class="pe-7s-shopbag"></i>
                    <h3>There are no more items in your cart</h3>
                    <a class="empty-cart-btn" href="{% url 'product' %}">
                        <i class="fa fa-arrow-left"> </i> Continue shopping
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

{% load cart_tag %}
 <!-- Cart Area Start -->
 <div class="cart-main-area pt-100px pb-100px">
    <div class="container">
        <h3 class="cart-page-title">Your cart items</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Until Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key,value in request.session.cart.items %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img class="img-responsive ml-15px" src="{{value.image}} " alt="Not Found" /></a>
                                    </td>
                                    <td class="product-name"><a href="#">{{value.name}}</a></td>
                                    <td class="product-price-cart"><span class="amount">&#8377; {{value.price}}</span></td>
                                    <!-- <td class="product-quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="{{value.quantity}}" />
                                        </div>
                                    </td> -->
                                    <!-- my work start-->

                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <a class="cart_quantity_up" href="{% url 'item_increment' value.product_id %}"> + </a>
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="{{value.quantity}}" min="1" />
                                            <a class="card_quantity_down" href="{% url 'item_decrement' value.product_id %}" > - </a>
                                        </div>
                                    </td>

                                        <!-- my work end -->
                                    <td class="product-subtotal">&#8377; {{ value.price|multiply:value.quantity }}</td>
                                    <td class="product-remove">
                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                        <a href="{% url 'item_clear' key %}"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>

                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="{% url 'product' %}">Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                              
                                    <a href="{% url 'cart_clear' %}">Clear Shopping Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
               
                    <div class="col-lg-4 col-md-12 mt-md-30px">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                            <h5>Total products <span> &#8377;  {{cart_total_amount}}</span></h5>
                            <div class="total-shipping">
                                <h5>Total shipping</h5>
                                <ul>
                                    <li> G.S.T <span> &#8377; 250.00</span></li>
                                    <li> Shipping charge <span>&#8377; 150.00</span></li>
                                </ul>
                            </div>
                            <h4 class="grand-totall-title">Grand Total <span>&#8377; {{cart_total_amount |add:250.00|add:150.00}}  </span></h4>
                            <!-- <a href="{% url 'cheakout' %}">Proceed to Checkout</a> -->
                            <form action="{% url 'cheakout' %}" method="post" >
                                {% csrf_token%}
                                <input name="amount" value="{{cart_total_amount}}" hidden >
                             <a href="{% url 'cheakout' %}" class="btn btn-outline-dark current-btn"> <button class="text-light"  type="submit"> checkout</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- Cart Area End -->
{%endblock%}