{% extends 'main/base.html'%}
{% block content %}
{% load cart_tag %}
<div class="cart-main-area pt-100px pb-100px">
    <div class="container">
        <h3 class="cart-page-title">Your Order</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Until Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for key,value in request.session.cart.items %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img class="img-responsive ml-15px" src="{{value.image}} " alt="Not Found" /></a>
                                    </td>
                                    <td class="product-name"><a href="#">{{value.name}}</a></td>
                                    <td class="product-price-cart"><span class="amount">&#8377; {{value.price}}</span></td>
                                    <!-- <td class="product-quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="{{value.quantity}}" />
                                        </div>
                                    </td> -->
                                    <!-- my work start-->

                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                           <a href="">{{value.quantity}}</a>
                                        </div>
                                    </td>

                                        <!-- my work end -->
                                    <td class="product-subtotal">&#8377; {{ value.price|multiply:value.quantity }}</td>
                                  
                                </tr>

                                {% endfor%}
                                <tr>
                                   <td> </td> 
                                    <td> </td>
                                    <td></td>
                                    <td><b>Grand Total :</b> </td>
                                    <td > <b>{{cart_total_amount}} </b></td>
                                </tr>
                                <tfoot></tfoot>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a id="rzp-button1"><button>Place Order </button></a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </form>
            
                    
                  
                </div>
            </div>
        </div>
    </div>
</div>

<form action="{% url 'sucess'  %" method="post">

</form>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_oVxJ548RnGPaIw", 
    "amount": "50000", 
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "{{order_id}}",
    "callback_url": "http://127.0.0.1:8000/sucess/",
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
</form>
{% endblock %}