{% extends 'main/base.html' %}

{% block content %}
{% load static %}

<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="4">
          <table>
            <tr>
              <td class="title">
                <img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:300px;">
              </td>
  
              <td>
                Invoice #: 123<br> Created: January 1, 2015<br> Due: February 1, 2015
              </td>
            </tr>
          </table>
        </td>
      </tr>


      <!-- Thank You area start -->
      <div class="thank-you-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="inner_complated">
                        <div class="img_cmpted"><img src="{% static 'assets/images/icons/cmpted_logo.png' %}" alt=""></div>
                        <p class="dsc_cmpted">Thank you for ordering in our store. You will receive a confirmation
                            email shortly.</p>
                        <div class="btn_cmpted">
                            <a href="{% url 'product' %}" class="shop-btn" title="Go To Shop">Continue Shopping </a>
                        </div>
                    </div>
                    <div class="main_quickorder text-align-center">
                        <h3 class="title">Call Us for Quick Order</h3>
                        <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:+01234567890" id="typewriter_num">01 234 567 890</a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Thank You area end -->
{% endblock %}