{% extends 'main/base.html'%}

{% block content %}
<div class="about-area pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-wrapper text-center">
                    <div class="about-contant">
                        <h2 class="title">
                            <span>Smart Shopper </span>
                            With Smart Devices
                        </h2>
                        <p>f you want to make a minimalistic online store, consider Welly for your inspiration. This US-based first aid brand has a modern eCommerce website design, putting its products at the center stage.</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}