{% extends 'main/base.html'%}
{% block content%}
{%load static %}



<!-- Hero/Intro Slider Start -->
<div class="section ">
    <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
        <!-- Hero slider Active -->
        <div class="swiper-wrapper">
            <!-- Single slider item -->
            {% for prod in product %}
            <div class="hero-slide-item slider-height-2 swiper-slide bg-color1"
                data-bg-image="assets/images/hero/bg/hero-bg-2-1.webp">
                <div class="container h-100">
                    <div class="row h-100 flex-row-reverse">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                            <div class="hero-slide-content hero-slide-content-2 slider-animated-1">
                                <h2 class="title-1">{{prod.name}} <br>
                                    For Smart Device </h2>
                                <span class="price">
                                    <span class="mini-title">Only</span>
                                    <span class="amount"> &#8377; {{prod.price}}</span>
                                </span>
                                <a href="{% url 'product' %}" class="btn btn-primary text-capitalize">Shop All
                                    Devices</a>
                            </div>
                        </div>
                        <div
                            class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative align-items-center">
                            <div class="show-case">
                                <div class="hero-slide-image slider-2">
                                    <img src="{{prod.image}}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Single slider item -->
            
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<!-- Hero/Intro Slider End -->
<!-- Banner Area Start -->
<!-- <div class="banner-area style-two pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="single-banner nth-child-2 mb-lm-30px">
                    <img src="{% static 'assets/images/p4.jpg'%}" alt="">
                    <div class="banner-content nth-child-3">
                        <h3 class="title">Speaker</h3>
                        <span class="category">From $69.00</span>
                        <a href="shop-left-sidebar.html" class="shop-link">Shop Now <i class="fa fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-banner nth-child-2">
                    <img src="{% static 'assets/images/banner/7.webp'%}" alt="">
                    <div class="banner-content nth-child-2">
                        <h3 class="title">Smartphone</h3>
                        <span class="category">From $95.00</span>
                        <a href="shop-left-sidebar.html" class="shop-link">Shop Now <i class="fa fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Banner Area End -->
<!-- Product Area Start -->

<!--                new product start               -->

<br> <br>
<div class="product-area pb-100px">
    <div class="container">
        <!-- Section Title & Tab Start -->
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title">New Products</h2>
                    <p>There are many product are available of Electronics Iteam</p>
                </div>
            </div>
        </div>
        <!-- Section Title & Tab End -->
        <div class="row">
            <div class="col">
                <div class="row mb-n-30px">
                    {% for prod in new_prod%}

                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                        <!-- Single Prodect -->
                        <div class="product">
                            <span class="badges">
                                <span class="new">{{prod.condition}}</span>
                            </span>
                            <div class="thumb">
                                <a href="/product_details/{{prod.id}}" class="image">
                                    <img src="{{prod.image}}" alt="Product" style="height: 200px;" />
                                    <img class="hover-image" src="{{prod.image}} " alt="Product" />
                                </a>
                            </div>
                            <br>
                            <div class="content">
                                <span class="category"><a href="/product_details/{{prod.id}}">{{prod.Categories}}</a></span>

                                <h5 class="title"><a href="/product_details/{{prod.id}}">{{prod.name}}
                                    </a>
                                </h5>
                                <span class="price">
                                    <span class="new"><b> &#8377; {{prod.price}}</b> </span>
                                </span>
                            </div>
                            <div class="actions">
                                <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-Cart-{{forloop.counter}}"><i class="pe-7s-shopbag"></i></button>
          

                                <button class="action quickview" data-link-action="quickview" title="Quick view"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal-{{forloop.counter}}"><i
                                        class="pe-7s-look"></i></button>

                          
                            </div>
                        </div>
                    </div>
                    {% endfor %}



                </div>
            </div>
        </div>
    </div>
</div>

<!--                new product End               -->



<!-- Product Area End -->

<!-- Banner Area End -->
<!-- Feature product area start -->
<div class="feature-product-area pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title">Featured Offers</h2>
                    
                </div>
            </div>
        </div>
       
        <div class="feature-product-slider swiper-container slider-nav-style-1">
            <div class="swiper-wrapper">
                {% for prod in product %}
                <div class="swiper-slide feature-right-content">
                    <div class="image-side">
                        <img src="{{prod.image}}" alt="">
                      <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal"
                            data-bs-target="#exampleModal-Cart-{{forloop.counter}}"> <i  class="pe-7s-shopbag"></i>
                        </button>
                    </div>
                    <div class="content-side">
                        <div class="">
                           
                            <div data-countdown="2021/09/15"></div>
                        </div>
                        <div class="prize-content">
                            <h5 class="title"><a href="/product_details/{{prod.id}}">{{prod.name}}</a></h5>
                            <span class="price">
                                
                                <span class="new">₹ {{prod.price}}</span>
                            </span>
                        </div>
                        <div class="product-feature">
                            <ul>
                                <li>{{prod.information  | safe }}</li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
             
              
             
            </div>
            <!-- Add Arrows -->
            <div class="swiper-buttons">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</div>
<!-- Feature product area End -->

<!-- Feature Area Srart -->
<div class="feature-area pt-100px pb-100px">
    <div class="container">
        <div class="feature-wrapper">
            <div class="single-feture-col mb-md-30px mb-lm-30px">
                <!-- single item -->
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static 'assets/images/icons/1.png'%}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Free Shipping</h4>
                        <span class="sub-title">Capped at $39 per order</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col mb-md-30px mb-lm-30px">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static 'assets/images/icons/2.png'%}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Card Payments</h4>
                        <span class="sub-title">12 Months Installments</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static 'assets/images/icons/3.png'%}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Easy Returns</h4>
                        <span class="sub-title">Shop With Confidence</span>
                    </div>
                </div>
                <!-- single item -->
            </div>
        </div>
    </div>
</div>
<!-- Feature Area End -->

        </div>
    </div>
</div>
<!-- Blog area end here -->
{%endblock%}