{% extends 'main/base.html'%}
{%block content%}

<div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4>login</h4>
                        </a>
                        <a data-bs-toggle="tab" href="#lg2">
                            <h4>register</h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="{%url 'login' %}" method="post">
                                        {%csrf_token%}
                                        {% for message in messages %}
                                        <div class="alert alert-{{message.tags}}" role="alert">
                                            {{message}}
                                        </div>
                                        {% endfor %}

                                        <input type="text" name="username" placeholder="Username" />
                                        <input type="password" name="password" placeholder="Password" />
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <input type="checkbox" />
                                                <a class="flote-none" href="javascript:void(0)">Remember me</a>
                                                <a href="{% url 'password_reset' %}">Forgot Password?</a>
                                            </div>

                                            <button type="submit"><span>Login</span></button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="lg2" class="tab-pane">
                            <div class="login-form-container">
                                <div class="login-register-form">

                                    <form action="{% url 'register' %}" method="post">
                                        {%csrf_token%}

                                        <input type="text" name="username" placeholder="Username" />
                                        <input type="text" name="first_name" placeholder="First name" />
                                        <input type="text" name="last_name" placeholder="Last name" />
                                        <input name="email" placeholder="Email" type="email" />
                                        <input type="password" name="pass1" placeholder="Password" />
                                        <input type="password" name="pass2" placeholder="Confirm Password" />
                                        <div class="button-box">
                                            <button type="submit"><span>Register</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}